{% extends "layouts/admin/adminLayout.njk" %} {% block content %}
    <div class="container-fluid px-4">
        <a href="/admin/destination" class="btn btn-primary mt-4">
            <i class="fa-solid fa-chevron-left"></i>
            <span>Back</span>
        </a>
        <a href="/admin/destination/edit/{{ desti.id }} " class="btn btn-primary mt-4">
            <span>Edit</span>
            <i class="fa-solid fa-chevron-right"></i>
        </a>
        <h3 class="my-2">Destination Detail</h3>
        <main id="content" class="site-main mt-3">
            <section class="career-inner-page">
            <!-- ***career section html start form here*** -->
            <div class="inner-career-detail-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                        <figure class="figure-caption"> 
                                <img src="{{desti.images}}" class="figure-img img-fluid rounded">
                        </figure>
                        </div>
                        <div class="col">
                        <div class="tab-section">
                            <div class="tab-container">
                                <div class="responsive-tabs">

                                    <div id="nav-tab-content" class="tab-content" role="tablist">
                                    <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                                        <div class="card-header" role="tab" id="heading-A">
                                            <h5 class="mb-0">{{desti.name}}</h5>
                                        </div>
                                        <div id="collapse-A" class="collapse show" data-bs-parent="#nav-tab-content" role="tabpanel"
                                            aria-labelledby="heading-A">
                                            <div class="card-body">
                                                <table class="table table-striped-columns">
                                                <tbody>
                                                    <tr>
                                                    <th>ID</th>
                                                    <td>{{desti.id}}</td>
                                                    </tr>
                                                    <tr>
                                                    <th>Name</th>
                                                    <th>{{desti.name}}</th>
                                                    </tr>
                                                    <tr>
                                                    <th>City</th>
                                                    <td>{{desti.district_city}}</td>
                                                    </tr>
                                                    <tr>
                                                    <th>Description</th>
                                                    <td>{{desti.description}}</td>
                                                    </tr>
                                                    <tr>
                                                    <th>Images</t>
                                                    <td>{{desti.images}}</td>
                                                    </tr>
                                                    <tr>
                                                    <th>Address</th>
                                                    <td>{{desti.address}}</td>
                                                    </tr>
                                                    <tr>
                                                    <th>Latitude</th>
                                                    <td>{{desti.lat}}</td>
                                                    </tr>
                                                    <tr>
                                                    <th>Longitude</th>
                                                    <td>{{desti.long}}</td>
                                                    </tr>
                                                    <tr>
                                                    <th>Status</th>
                                                    <td>{{desti.status}}</td>
                                                    </tr>
                                                    <tr>
                                                    <th>Type</th>
                                                    <td>
                                                        <ul>
                                                            {% for item in desti.Trip_Types %}
                                                                <li>{{item.name}}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***career section html start form here*** -->
            </section>
        </main>
    </div>
    {# <script>
        let url = new URL(window.location.href);
        let parts = url.pathname.split('/');
        let destinationId = parts[parts.length - 1];
        // console.log({destinationId});

        function init() {
        return {
            data: null,
            detailData: async function () {
                try {
                    const request = await fetch(`/admin/destination/api/detail/${destinationId}`, {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    if (!request.ok) {
                    throw new Error('Failed to fetch destination data');
                }
                    const response = await request.json();
                    this.data = response.data
                    console.log("Destination Data:", this.data);
                } catch (error) {
                    console.error('Error fetching destination data:', error);
                }
            }
        };
    }
    </script> #}
{% endblock %}
