{% extends "layouts/admin/adminLayout.njk" %} {% block content %}
<div class="container-fluid px-4">
  <a href="/admin/transportation" class="btn btn-primary mt-4">
    <i class="fa-solid fa-chevron-left"></i>
    <span>Back</span>
  </a>
  
  <a href="/admin/transportation/edit/{{ trans.id }}" class="btn btn-primary mt-4">
    <span>Edit</span>
    <i class="fa-solid fa-chevron-right"></i>
  </a>
 
  <h3 class="my-2"><i class="fas fa-car-side"></i> Transportation Detail</h3>
  <main id="content" class="site-main mt-3">
    <section class="career-inner-page">
      <!-- ***career section html start form here*** -->
      <div class="inner-career-detail-wrap">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <figure class="figure-caption">
                <img src="{{ trans.images }}" class="figure-img img-fluid rounded" />
              </figure>
            </div>
            <div class="col">
              <div class="tab-section">
                <div class="tab-container">
                  <div class="responsive-tabs">
                    <div id="nav-tab-content" class="tab-content" role="tablist">
                      <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                        <div class="card-header" role="tab" id="heading-A">
                          <h5 class="mb-0">{{ trans.name }}</h5>
                        </div>
                        <div id="collapse-A" class="collapse show" data-bs-parent="#nav-tab-content" role="tabpanel" aria-labelledby="heading-A">
                          <div class="card-body">
                            <table class="table table-striped-columns">
                              <tbody>
                                <tr>
                                  <th>ID</th>
                                  <td>{{ trans.id }}</td>
                                </tr>
                                <tr>
                                  <th>Name</th>
                                  <th>{{ trans.name }}</th>
                                </tr>
                                <tr>
                                  <th>Images</th>
                                  <td>{{ trans.images }}</td>
                                </tr>
                                <tr>
                                  <th>Descripsi</th>
                                  <td>{{ trans.desc }}</td>
                                </tr>
                                <tr>
                                  <th>Capacity</th>
                                  <td>{{ trans.capacity }}</td>
                                </tr>
                                <tr>
                                  <th>Category</th>
                                  <td>{{ trans.category }}</td>
                                </tr>
                                <tr>
                                  <th>route</th>
                                  <td>{{ trans.route }}</td>
                                </tr>
                                <tr>
                                  <th>fasility</th>
                                  <td>{{ trans.fasility }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ***career section html start form here*** -->
    </section>
  </main>
</div>
{% endblock %}
