<!-- JavaScript -->
<script src="/clients/vendors/jquery/jquery.js"></script>
<script src="/clients/vendors/waypoint/waypoints.js"></script>
<script src="/clients/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/clients/vendors/jquery-ui/jquery-ui.min.js"></script>
<script src="/clients/vendors/countdown-date-loop-counter/loopcounter.js"></script>
<script src="/clients/vendors/counterup/jquery.counterup.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="/clients/vendors/masonry/masonry.pkgd.min.js"></script>
<script src="/clients/vendors/slick/slick.min.js"></script>
<script src="/clients/vendors/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="/clients/vendors/slick-nav/jquery.slicknav.js"></script>
<script src="/clients/js/custom.min.js"></script>
<script src="/clients/js/jquery.js"></script>
<script src="/clients/js/script.js"></script>
<script src="/clients/js/itinerary.js"></script>
