{% extends "layouts/clients/masterLayout.njk" %} {% block content %}

<main id="content" class="site-main">
  <section class="package-inner-page">
    <!-- ***Banner Start*** -->
    <div class="inner-banner-wrap">
      <div class="inner-baner-container" style="background-image: url(/clients/images/transportation/5.jpg)">
        <div class="container">
          <div class="inner-banner-content">
            <h1 class="page-title">Transportation Detail</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- ***Banner End*** -->
    <!-- ***main start*** -->
    <div class="inner-package-detail-wrap">
      <div class="container">
        <div class="row">
          {# detail start #}
          <div class="col-lg-8 primary right-sidebar">
            <div class="single-packge-wrap">
              <div class="single-package-head d-flex align-items-center">
                <div class="package-title">
                  <h2>{{ trans.name }}</h2>
                  <div class="rating-start-wrap">
                    <div class="rating-start">
                      <span style="width: 80%"></span>
                    </div>
                  </div>
                </div>
                <div class="package-price">
                  <h6 class="price-list">
                    Estimation
                    <span>Rp. {{ trans.price }}</span>
                    / per person
                  </h6>
                </div>
              </div>
              <div class="package-meta">
                <ul>
                  <li>
                    <i class="fas fa-male"></i>
                    {{ trans.capacity }}
                  </li>
                  <li>
                    <i class="fas fa-car-side"></i>
                    Category : {{ trans.category }}
                  </li>

                  <li>
                    <i class="fas fa-map-marker-alt"></i>
                    {{ trans.route }}
                  </li>
                </ul>
              </div>
              <figure class="single-package-image">
                <img src="/uploads/{{ trans.images }}" alt="" />
              </figure>
              <div class="package-content-detail">
                <article class="package-overview">
                  <h3>DESCRIPTION :</h3>
                  <p>
                    {{ trans.desc }}
                  </p>
                </article>
                <article class="package-include bg-light-grey">
                  <h3>FACILITY :</h3>
                  <ul>
                    <li><i class="fas fa-dot-circle"></i>{{ trans.fasility }}</li>
                    <li><i class="fas fa-dot-circle"></i>Guide Service Fee</li>
                  </ul>
                </article>
                <article class="package-ininerary">
                  <h3>FACILITY :</h3>
                  <p>Beberapa fasility yang anda dapatkan di sini</p>
                  <ul>
                    <li>
                      <i aria-hidden="true" class="fas fa-dot-circle"></i>
                      {{ trans.fasility }}
                    </li>
                  </ul>
                </article>
              </div>
            </div>
          </div>
          {# detail end #} {# side-right start #}
          <div class="col-lg-4">
            <div class="sidebar">
              {# Booking card start #}
              <div class="booking-form-wrap">
                <div class="booking-form-inner primary-bg text-center">
                  <h3>BOOKING</h3>
                  <p>Anda dapat langsung ke lokasi atau melakukan reservasi dahulu</p>
                  <a href="/contactUs" class="outline-btn outline-btn-white">Hubungi Kami</a>
                </div>
              </div>
              {# Booking card End #}
              <div class="related-package">
                <h3>RELATED IMAGES</h3>
                <p>
                  Kami menawarkan<b>{{ trans.name }}</b> dengan <b>{{ trans.category }}</b>
                </p>
                <div class="related-package-slide">
                  <div class="related-package-item">
                    <img src="/clients/images/img1.jpg" alt="" />
                  </div>
                  <div class="related-package-item">
                    <img src="/clients/images/img2.jpg" alt="" />
                  </div>
                  <div class="related-package-item">
                    <img src="/clients/images/img3.jpg" alt="" />
                  </div>
                </div>
              </div>
              <div class="package-map">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.540423056448!2d-0.12174238402827448!3d51.50330061882345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2slastminute.com%20London%20Eye!5e0!3m2!1sen!2snp!4v1646314586610!5m2!1sen!2snp"
                  width="600"
                  height="320"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                ></iframe>
              </div>
              <div class="package-list">
                <div class="overlay"></div>
                <h4>MORE PACKAGES</h4>
                <ul>
                  <li>
                    <a href="#"><i aria-hidden="true" class="icon icon-arrow-right-circle"></i>Vacation Packages</a>
                  </li>
                  <li>
                    <a href="#"><i aria-hidden="true" class="icon icon-arrow-right-circle"></i>Homeymoon Packages</a>
                  </li>
                  <li>
                    <a href="#"><i aria-hidden="true" class="icon icon-arrow-right-circle"></i>New Year Packages</a>
                  </li>
                  <li>
                    <a href="#"><i aria-hidden="true" class="icon icon-arrow-right-circle"></i>Weekend Packages</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {# side-right end #}
        </div>
      </div>
    </div>
    <!-- ***main end*** -->
  </section>
</main>

<!-- ***Footer start*** -->
{% include "components/clients/index/footer.njk" %}
<!-- ***Footer end*** -->

{% include "components/clients/index/backToTop.njk" %}

<!-- ***custom search field html*** -->
<div class="header-search-form">
  <div class="container">
    <div class="header-search-container">
      <form class="search-form" role="search" method="get">
        <input type="text" name="s" placeholder="Enter your text..." />
      </form>
      <a href="#" class="search-close">
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
</div>
<!-- ***custom search field html*** -->

{% endblock content %}
