<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="/admin">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link" href="/admin/destination">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-globe-asia"></i>
                    </div>
                    Destination
                </a>
                <a class="nav-link" href="/admin/package">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-box-open"></i>
                    </div>
                    Paket Tur
                </a>
                <a class="nav-link" href="/admin/transportation">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-car-side"></i>
                    </div>
                    Transportation
                </a>
                <a class="nav-link" href="/admin/acomodation">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-house-damage"></i>
                    </div>
                    Acomodation
                </a>
                <a class="nav-link" href="/admin/restaurant">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-utensils"></i>
                    </div>
                    Restaurant
                </a>
                <a class="nav-link" href="/admin/itinerary-log">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-history"></i>
                    </div>
                    Logging Itinerary
                </a>
                <a class="nav-link" href="/admin/blog">
                    <div class="sb-nav-link-icon">
                        <i class="far fa-newspaper"></i>
                    </div>
                    Blog Artikel
                </a>
                <a class="nav-link" href="/admin/user">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    User
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Admin
        </div>
    </nav>
</div>