<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="clients/css/bootstrap.min.css" rel="stylesheet">
        <script defer src="clients/js/alpine.js"></script>
        <title>Rusli Travel</title>
        <!-- favicon -->
        <link rel="icon" type="image/png" href="/images/favicon.png">
    </head>
    <body class="bg-light">
        {% block content %}{% endblock content %}

        <script src="clients/js/jquery.js"></script>
        <script src="clients/js/bootstrap.bundle.min.js"></script>

    </body>
</html>