{% macro author() %}
<div class="profile">
    <figure class="avatar">
      <a href="#">
        <img src="/clients/images/img20.jpg" alt="" />
      </a>
    </figure>
    <div class="text-content">
      <div class="name-title">
        <h4>
          <a href="#">Rusli Travel</a>
        </h4>
      </div>
      <p>Discover the world with our travel agency. From breathtaking landscapes to vibrant cultures, we craft personalized experiences. Let us guide you on your next adventure, creating memories that last a lifetime.</p>
    </div>
    <div class="socialgroup">
      <ul>
        <li>
          <a target="_blank" href="https://www.facebook.com/">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.google.com/">
            <i class="fab fa-google"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.twitter.com/">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.pinterest.com/">
            <i class="fab fa-pinterest"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endmacro %}