<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rusli Travel</title>
    </head>
    <body class="d-flex flex-column justify-content-center align-items-center">
        {% include "includes/admin/head.njk" %}
        <h4 class="text-center mb-3">400 Bad Request</h4>
        <img src="/clients/images/sorry.gif" alt="error-images" width="15%">
        <p class="font-bold text-2xl">Sorry, your request is invalid!</p>
        <button class="border-1 rounded" onclick="history.back()">Back</button>
    </body>
</html>