{% macro button1(link, title) %}
    <a href="{{link}}" class="round-btn">{{title}}</a>
{% endmacro %}

{% macro button2(link, title) %}
    <a href="{{link}}" class="outline-btn outline-btn-white">{{title}}</a>
{% endmacro %}