<header id="masthead" class="site-header">
  <!-- Mulai header html -->
  <div class="top-header">
    <div class="container">
      <div class="top-header-inner">
        <div class="header-contact text-left">
          <a href="tel:+01977259912">
            <i aria-hidden="true" class="icon icon-phone-call2"></i>
            <div class="header-contact-details">
              <span class="contact-label">Info Lebih Lanjut :</span>
              <h5 class="header-contact-no">+62 813-3364-6054</h5>
            </div>
          </a>
        </div>
        <div class="site-logo text-center">
          <h1 class="site-title">
            <a href="/">
              <img src="/clients/images/favicon.png" alt="Logo" style="width: 75px !important;" />
            </a>
          </h1>
        </div>
        <div class="header-icon text-right">
          <!-- <div class="header-search-icon d-inline-block">
            <a href="#">
              <i aria-hidden="true" class="fas fa-search"></i>
            </a>
          </div> -->
          <div class="offcanvas-menu d-inline-block">
            <a href="#">
              <i aria-hidden="true" class="icon icon-burger-menu"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-header">
    <div class="container">
      <div class="bottom-header-inner d-flex justify-content-between align-items-center">
        <div class="header-social social-icon">
          <ul>
            <li>
              <a href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com" target="_blank">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com" target="_blank">
                <i class="fab fa-youtube" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="navigation-container d-none d-lg-block">
          <nav id="navigation" class="navigation">
            <ul>
              <li class="">
                <a href="/">Beranda</a>
              </li>
              <li>
                <a href="/aboutUs">tentang kami</a>
              </li>
              <li class="menu-item-has-children">
                <a href="/">Destinasi</a>
                <ul>
                  <li>
                    <a href="/destination">Destinasi</a>
                  </li>
                  <li>
                    <a href="/package">Paket</a>
                  </li>
                  <li>
                    <a href="/transportation">Transportasi</a>
                  </li>
                  <li>
                    <a href="/acomodation">Akomodasi</a>
                  </li>
                  <li>
                    <a href="#">Sewa</a>
                  </li>
                  <li>
                    <a href="/restaurant">Restoran</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/blog">Blog</a>
              </li>
              <li>
                <a href="/contactUs">hubungi kami</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header-btn">
          <a href="#" class="round-btn">Pesan Sekarang</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu-container"></div>
</header>